/web/bundles/
/web/media/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/config/dynamique_config.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
*~
/web/assetic/
/web/css/
/web/js/
build.properties
/web/assets/
/web/uploads/
.env
/var/*
