
<div id="navbar" class="collapse navbar-collapse">
    {{knp_menu_render('header_menu_default',{
        template:"AppBundle:Site:knp_menu.html.twig",
        rootClass: 'nav navbar-nav',
        rootId: '', depth: 2, displayChildren: true
    })}}
</div>
