{% extends 'AppBundle:Site:base.html.twig' %}

{% if app.request.attributes.get('is_home') == false %}
    {% block site_title %}{{content.title}} | {{parent()}}{% endblock site_title %}
{% endif %}

{% block content %}
    <section class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{content.title}}</h1>
                <span class="text-muted pull-right">Last update {{content.updatedAt|format_datetime}}</span>
            </div>
        </div>
    </section>

    <hr class="clearfix">
    {% set datas = content.content|json_decode %}
    {% include 'AppBundle:Site:_wysiwyg_dashboard_content.html.twig' %}
{% endblock %}