{% extends (parent_template is defined ? parent_template : 'AppBundle:Site:base.html.twig') %}
{% trans_default_domain 'kalamu' %}
{% block site_title %}{{ 'Posts'|trans }} . {{parent()}}{% endblock site_title %}

{% block content %}

    <h1>{{ 'Post list'|trans }}</h1>

    {% include 'AppBundle:Content:list.html.twig' %}

    <hr>

    {% include 'AppBundle:Content:paginator.html.twig' %}

{% endblock %}